body {
    font-family: Arial;
    background: #e0f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

input {
    margin: 5px;
    padding: 8px;
    width: 90%;
}

button {
    padding: 8px 15px;
    margin-top: 10px;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}
